.head {
  font-size: xx-large;
  margin: 2rem;
}
.row {
  text-align: center;
}
.buttons-row {
  display: flex;
  justify-content: center;
}
.button {
  margin: 2rem;
  height: 5rem;
  width: 10rem;
}
